<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <h1>Посмотрите новости</h1>
    <form class="cf" method="post" action="">
        <div class="half left cf">
            <select onchange="this.style.color = 'black'" class="" name="news-servise" required="">
                <option value="" disabled selected>Выберите сервис новостей</option>
                <option value="yandex">Яндекс Новости</option>
                <option value="lenta">Lenta.ru</option>
                <option value="vesti">Вести.Ru</option>
                <option value="cnn">CNN</option>
                <option value="bbc">BBC</option>
                <option value="mailru">Новости@mail.ru</option>
            </select>
            <select onchange="this.style.color = 'black'" class="" name="" required="">
                <option value="" disabled selected>Выберите Категорию</option>
                <option value="">Спорт</option>
                <option value="">Экономика</option>
                <option value="">Наука</option>
                <option value="">В мире</option>
                <option value="">Авто</option>
                <option value="">Здоровье</option>
                <script>
                for(let i = 0; i < 5; i++) {
                    document.write('<option value="">Наука</option>');
                }
                </script>
            </select>
            <select onchange="this.style.color = 'black'" class="" name="" required="">
                <option value="" disabled selected>Выберите количество новостей</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
            </select>
        </div>
        <input type="submit" value="Показать" id="input-submit">
    </form>
</body>
</html>
