<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <h1>Читайте новости</h1>
    <form class="cf" method="post" action="" autocomplete="off">
        <div class="half left cf">
            <select onchange="this.style.color = 'black'; showCategory(this.value)" class="" name="servise" required="" value="">
                <option value="" disabled selected>Выберите сервис новостей</option>
                {{!-- Вывод сервисов из переданного объекта --}}
                {{#each servises}}
                <option value="{{@key}}">{{@key}}</option>
                {{/each}}
            </select>
            {{!-- Категории заполняются после выбора сервиса --}}
            <select onchange="this.style.color = 'black'" class="" id="category" name="category" required="" value="">
                <option value="" disabled selected>Выберите категорию новостей</option>
            </select>
            <select onchange="this.style.color = 'black'" class="" name="amount" required="" value="">
                <option value="" selected>Выберите количество новостей</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="все">Все</option>
            </select>
        </div>
        <input type="submit" value="Показать" id="input-submit">
    </form>
    <script>
    let arr = [];
    let obj = {};

    {{!-- Обработка входящего объекта --}}
    {{#each servises}}
        arr = [];
        {{#each this}}
        arr.push('{{@key}}');
        {{/each}}
        obj['{{@key}}'] = arr;
    {{/each}}

    {{!-- Функция для вывода категорий --}}
    function showCategory(name) {
        let category = document.getElementById('category');
        let html = '<option value="" disabled selected>Выберите Категорию</option>';
        let arrCat = obj[name];
        for(let item = 0; item < arrCat.length; item++) {
            html += '<option value="'+arrCat[item]+'">'+arrCat[item]+'</option>';
        }
        category.innerHTML = html;
    }

    </script>
</body>
</html>
