<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
{{#news people}}{{firstName}} {{lastName}}{{/list}}
<div>
    <h3>Заголовок</h3>
    <p>Описание</p>
    <span>дата</span> <a href="#">ссылка на новость</a>
</div>
</body>
</html>
