<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <div class="wrapper">
        {{#each news}}
        <div>
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <span>{{this.date}}</span> <a href="{{this.link}}" target="_blank">Ссылка на новость</a>
        </div>
        {{/each}}
    </div>
</body>
</html>
